<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steve Feed</title>
</head>
<body>
    <h1>Steve Cam!</h1> 
    <img src="/static/Steve.png" width="150" height="150">
    <br>
    <div><iframe width="640" height="480" src="https://rtsp.me/embed/y8sAGB5b/" frameborder="0" allowfullscreen></iframe><p align="right"><a href="https://rtsp.me" title ="" target="_blank" ></a></p></div>
</body>
<a>Jarvis</a>
</html>
